*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #423e3e;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header a {
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

main{
    background-color: black;
    height: 85%;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.pacotes{
    height: 100%;
    width: 80%;
    background-color: #423e3e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1{
    font-size: 4rem;
    color: white;
    border-block: 5px solid white;
    margin-top: 2rem;
}

.pacotes_imagem img{
    height: 15rem;
    margin-right: 1rem;
    cursor: pointer;
}

.pacotes_imagem{
    padding-inline: 2rem;
    overflow: hidden;
    overflow-y: scroll;
    display: grid;
    grid-template-areas: 
    "img img img img img img img";
    gap: 1rem;
    padding-block: 2rem;
}

.info{
    background-color: black;
    height: 40rem;
    width: 70rem;
    position: absolute;
    place-self: center;
    top: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    box-shadow: 0px 0px 15px 5px #b22222;
    text-align: center;
    visibility: hidden;
}

.info2 img{
    height: 24rem;
    background-color: #423e3e;
}

.info h2{
    font-size: 3rem;
    color: white;
    padding: 1rem;
}

.info2 p{
    color: white;
    width: 57rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

.info2{
    background-color: #423e3e;
    place-self: center;
    text-align: center;
    height: 100%;
    width: 90%;
    padding: 1rem;
    gap: 2rem;
}

button{
    height: 3rem;
    width: 6rem;
    font-size: 2rem;
    border-radius: 8px;
    cursor: pointer;
}

.borrar{
    filter: blur(4px);
}

.mostrar{
    visibility: visible;
}